/*
 *  @Project:		Battle Brothers
 *	@Company:		Overhype Studios
 *
 *	@Copyright:		(c) Overhype Studios | 2013 - 2020
 * 
 *  @Author:		Overhype Studios
 *  @Date:			31.10.2017
 *  @Description:	World Town Screen JS
 */

.stronghold-screen .main-module .change-name-row
{
    outline: 1px solid red;
    height: 4.3rem;
}
.stronghold-screen .main-module #change-base-name-input-container
{
	width: 30rem;
	height: 4rem;
	line-height: 3.6rem;
	outline:1px solid green;
}
.stronghold-screen .main-module #change-base-name-button-container
{
	width: 17.5rem;
    height: 4.3rem;
    outline: 1px solid purple;
}

.stronghold-screen .main-module .base-sprite-container
{
    width: 25.2rem;
    height: 19.9rem;
}
.stronghold-screen .base-sprite-container .base-sprite-image
{
	width: 25.2rem;
	height: 19.9rem;
}
.stronghold-screen .main-module .other-description-container
{
	height: 19.9rem;
	flex: 1;
}

.stronghold-screen .main-module .main-module-assets-row
{
	border: 10px solid red;
}
.stronghold-screen .main-module .main-module-asset-row
{
	width: 100%;
	height: 5rem;
	border: 2px solid green;
}
