/*
 *  @Project:		Battle Brothers
 *	@Company:		Overhype Studios
 *
 *	@Copyright:		(c) Overhype Studios | 2013 - 2020
 * 
 *  @Author:		Overhype Studios
 *  @Date:			31.10.2017
 *  @Description:	World Town Screen JS
 */

.stronghold-module-dialog-container .main-module .change-name-row
{
    outline: 1px solid red;
    height: 4.3rem;
}
.stronghold-module-dialog-container .main-module .change-base-name-input-container
{
	width: 30rem;
	height: 4rem;
	line-height: 3.6rem;
}
.stronghold-module-dialog-container .main-module .change-base-name-button-container
{
	width: 17.5rem;
    height: 4.3rem;
}

.stronghold-module-dialog-container .main-module .base-sprite-container
{
    width: 25.2rem;
    height: 19.9rem;
    /*border: 2px solid blue;*/
}
.stronghold-module-dialog-container .main-module .other-description-container
{
	height: 19.9rem;
	flex: 1;
}


