.dropdown
{
    width: 17.5rem;
	position: relative;
	display: inline-block;
}

.dropdown > .dropdown-text
{
    background-image: url("coui://gfx/ui/skin/custom_background_698_40_selected.png");
	background-size: 100% 100%;
    text-shadow: 1px 1px 1px #000;
	width: 100%;
	height: 3rem;
	text-align: center;
}

.dropdown[disabled] > .dropdown-text,
.dropdown-child[disabled]
{
	background-image: url("coui://gfx/ui/skin/custom_background_698_40_disabled.png");
}

.dropdown > .dropdown-container
{
	display: none;
	overflow: auto;
	width: 100%;
	position: absolute !important;
}

.dropdown > .dropdown-container > .dropdown-container-scroll
{
	width: 100%;
	position: absolute !important;
	box-shadow: 0px 0px 16px black;
}

.dropdown:hover:not([disabled]) > .dropdown-container
{
   display: block;
}

.dropdown-child
{
	height: auto;
	text-align: center;
   	background-image: url("coui://gfx/ui/skin/custom_background_698_40.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 16px black;
}

.dropdown-child:hover:not([disabled]),
.dropdown-child.is-selected:not([disabled])
{
   	background-image: url("coui://gfx/ui/skin/custom_background_698_40_selected.png");
}
