.flex-row
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 5rem;

    /*outline: 2px solid purple;*/
}

.sub-title
{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    vertical-align: middle;
/*    border-image: url("coui://gfx/ui/skin/line_gold.png") 0% 0% 100% 0%;
    border-image-outset: 0 0 0.5rem 0;*/
   	background-image: url("coui://gfx/ui/skin/custom_background_698_40.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;

    /*border: 2px solid yellow;*/
}

.gold-line-bottom
{
    border-image: url("coui://gfx/ui/skin/line_gold.png") 0% 0% 100% 0%;
    border-image-outset: 0 0 0.5rem 0;
}

.ui-control.dialog.has-one-row-footer > .content
{
    bottom: 6.0rem;
}

.ui-control.dialog.has-two-rows-footer > .content
{
    bottom: 10.0rem;
}

.ui-control.dialog.has-three-rows-footer > .content
{
    bottom: 14.0rem;
}

.ui-control.dialog.has-four-rows-footer > .content
{
    bottom: 18.0rem;
}

.ui-control.dialog.has-five-rows-footer > .content
{
    bottom: 22.0rem;
}

.ui-control.dialog.has-six-rows-footer > .content
{
    bottom: 26.0rem;
}
.ui-control.dialog.has-seven-rows-footer > .content
{
    bottom: 30.0rem;
}
.ui-control.dialog.has-eight-rows-footer > .content
{
    bottom: 34.0rem;
}
.ui-control.dialog.has-nine-rows-footer > .content
{
    bottom: 38.0rem;
}
.ui-control.dialog.has-ten-rows-footer > .content
{
    bottom: 42.0rem;
}

.ui-control.dialog.has-eleven-rows-footer > .content
{
    bottom: 46.0rem;
}

.ui-control.dialog.has-twelve-rows-footer > .content
{
    bottom: 50.0rem;
}


.ui-control.dialog.dialog.has-one-row-footer > .footer
{
    height: 6.0rem;
}

.ui-control.dialog.dialog.has-two-rows-footer > .footer
{
    height: 10.0rem;
}

.ui-control.dialog.dialog.has-three-rows-footer > .footer
{
    height: 14.0rem;
}

.ui-control.dialog.dialog.has-four-rows-footer > .footer
{
    height: 18.0rem;
}

.ui-control.dialog.dialog.has-five-rows-footer > .footer
{
    height: 22.0rem;
}

.ui-control.dialog.dialog.has-six-rows-footer > .footer
{
    height: 26.0rem;
}

.ui-control.dialog.has-seven-rows-footer > .footer
{
    height: 30.0rem;
}
.ui-control.dialog.has-eight-rows-footer > .footer
{
    height: 34.0rem;
}
.ui-control.dialog.has-nine-rows-footer > .footer
{
    height: 38.0rem;
}
.ui-control.dialog.has-ten-rows-footer > .footer
{
    height: 42.0rem;
}

.ui-control.dialog.has-eleven-rows-footer > .footer
{
    height: 46.0rem;
}

.ui-control.dialog.has-twelve-rows-footer > .footer
{
    height: 50.0rem;
}

.world-campfire-screen > .l-main-dialog-container .l-button
{
    top: -7rem;
    bottom: 0;
    width: ;
    position: absolute;
    left: -5rem;
    z-index: 9999;
    width: 25rem;
    height: 10rem;
}

.world-campfire-screen > .l-main-dialog-container .stronghold-retinue-button.button:hover,
.world-campfire-screen > .l-main-dialog-container  .stronghold-retinue-button.button.is-selected,
.world-campfire-screen > .l-main-dialog-container .stronghold-retinue-button.button[disabled]
{
    background-color: rgba(1, 1, 1, 0);
}

.world-campfire-screen > .l-main-dialog-container .l-button img
{
    max-width:100%;
    max-height:100%;
}



/* Enter Name Dialog Container */
.confirm-reforge-dialog
{
    width: 44.9rem;
    height: 20.3rem;

    background-image: url("coui://gfx/ui/skin/save_game_name_background.png");
    background-size: 44.9rem 20.3rem;
    background-repeat: no-repeat;
}

.confirm-reforge-container
{
    width: 44.9rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    position: relative;
    float: left;
}

.confirm-reforge-container .row
{
    width: 100%;
    height: 7.0rem;
    position: relative;
    margin: auto;
    float: left;
}
