/*
 *  @Project:		Battle Brothers
 *	@Company:		Overhype Studios
 *
 *	@Copyright:		(c) Overhype Studios | 2013 - 2020
 * 
 *  @Author:		Overhype Studios
 *  @Date:			31.10.2017
 *  @Description:	World Town Screen JS
 */

.stronghold-main-dialog-container 
{
    /*border: 4px solid green;*/
}
.stronghold-main-dialog-container .stronghold-main-content-container
{
    display: flex;
    flex-wrap: wrap;
}

.stronghold-main-content-container .row
{
    width: 100%;
    height: 5rem;
    display: flex;
    border-image: url("coui://gfx/ui/skin/line_gold.png") 0% 0% 100% 0%;
    border-image-outset: 0 0 0.5rem 0;

    /*border: 2px solid yellow;*/
}

.stronghold-main-content-container .row .change-base-name-input-container
{
   /*border: 2px solid purple;*/
}

.stronghold-main-content-container .row .change-base-name-button-container
{
    height: 5rem;
    width: 17.5rem;
    line-height: 3.0rem;

    /*border: 2px solid blue;*/
} 